.no-bullet{
	list-style-type: none;
}
.name{
	list-style-type: none;
}
.course{
	list-style-type: none;
}
.job{
	list-style-type: none;
}
h3{
	display: inline-block;
	font-weight: normal;
}
h3.active{
	text-decoration: underline;
	font-weight: bold;
}
.header-container{
	text-align: center;
}
.header-container a{
	color: black;
}
.body-contanier{
	margin: auto;
	margin-top: 10px;
	width: 90%;
}
.person{
	margin-bottom: 20px;
}
.minutes-header{
	font-size: 22px;
	margin-bottom: 15px;
	font-weight: bold;
}
.minutes-subheader{
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 15px;
	font-weight: bold;
}
.site-login .overview, .site-signup .overview, .site-request-password-reset .overview, .site-reset-password .overview {
  margin: 30px auto 50px auto;
  width: 100%;
}
.site-login .overview .form-holder, .site-signup .overview .form-holder, .site-request-password-reset .overview .form-holder, .site-reset-password .overview .form-holder {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
}
.site-login .overview .form-holder .btn-custom, .site-signup .overview .form-holder .btn-custom, .site-request-password-reset .overview .form-holder .btn-custom, .site-reset-password .overview .form-holder .btn-custom {
  font-size: 1.3em;
  width: 70%;
}
.site-login .overview .form-holder .oauth-holder .btn-facebook, .site-signup .overview .form-holder .oauth-holder .btn-facebook, .site-request-password-reset .overview .form-holder .oauth-holder .btn-facebook, .site-reset-password .overview .form-holder .oauth-holder .btn-facebook {
  width: 80%;
  margin: 0 auto;
}
.site-login .overview .bottom-text, .site-signup .overview .bottom-text, .site-request-password-reset .overview .bottom-text, .site-reset-password .overview .bottom-text {
  margin-top: 5px;
  color: #999;
}
.site-login .overview .permission, .site-signup .overview .permission, .site-request-password-reset .overview .permission, .site-reset-password .overview .permission {
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .site-login .overview, .site-signup .overview, .site-request-password-reset .overview, .site-reset-password .overview {
    width: 100%;
  }
}
.site-beta-feedback .container .submit-btn {
  font-weight: bold;
  font-size: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #0c4c23;
  display: flex;
  border-radius: 10px;
  border: 0;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: "Open-Sans-Bold";
  background: url(../img/yellow_texture_bg.png) center center;
  background-size: cover;
}

.row::after {
  /*content: "";*/
  clear: both;
  display: table;
}
.team-box {
  position:relative;
  display:block;
  background:#ffffff;
  padding:25px 25px 15px;
  margin:10px 0px 15px;
  text-align:center; 
  border:1px solid #ECECEC;
  box-shadow:0px 3px 6px #C0C0C0;
}
.hero-image-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bannerImage.jpg'); background-size: cover; min-height:400px; height: auto; width: 100%; position: relative;
}
.hero-image-text{
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-section{
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  height: 375px;
}
.mobile-section {
  display: none;
}
.info-body{
  text-align: left;
  padding: 0px 50px;
}
.info-image{
  width:100%;
  height: 100%;
  max-height: 314.45px;
  max-width: 471.31px;
  object-fit: cover;
}
.site-landing{
}
@media only screen and (max-width: 768px) {
  .mobile-section {
    display: block;
  }
  .non-mobile-section {
    display: none;
  }
  .content-section{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
}